*{
  margin: 0;
  border-radius: 0;
}
.header-1{
    background-color: rgb(24, 226, 233);
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
}
.logo{
    color:rgb(255, 94, 0);
    font-weight: bolder;
    font-size: 45px;
    font-family: serif ;

}
.logo i{
    /* padding-right: .5rem; */
    color:rgb(255, 94, 0);
}
 .header-1 .search-box-container{
    display:flex;
    height: 35px;
    
 }
  .header-1 .search-box-container #search-box{
    height: 35px;
    width: 300px;
    border-radius: 10px solid black;
    color: #3b3a3a;
    border: 1rem solid rgba(rgb(190, 132, 132), rgb(173, 205, 173), rgb(183, 183, 205), alpha);
    text-transform: none;
    border-radius: 10px 0 0 10px ;
    border: none;
  }
  .header-1 .search-box-container label{
    height:35px ;
    width:4rem ;
    font-size: 20px ;
    line-height:4rem ;
    color: rgb(220, 255, 183);
    background:var(--green);
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 94, 0);
    border-radius:  0 10px 10px 0 ;

  }
  
  .header-1{
    background:rgb(220, 255, 183);
    display: flex;
    align-items: center; 
    justify-content: space-between;
    /* padding: 2rem 9%; */
    box-shadow: 0 .5rem 1rem rgb(140, 140, 201);
    position: relative;
  }

  .header-2{
    background: rgba(255, 94, 0,0.7);
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 1);
    position: relative;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .navbar a{
    padding-left: 10px;
    font-size: 20px;
    color: rgb(220, 255, 183);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
   
  }
  .header-2 .navbar a:hover{
    background: var(--green);
    color:rgb(134, 56, 10);
    text-decoration: none;
  }
  
  .navbar{
    display: flex;
    align-items: center;
    min-height: 0;
    margin-bottom: 0;
  }
  .products-sub-product{
    display: none;
  }
  .header-2 .navbar .products:hover .products-sub-product{
    display:flex;
    position: fixed;
   height: 100px;
   width: 180px;
   background: rgba(255, 94, 0,0.7);
   z-index: 1;
   
  }
  .products-sub-product ul li{
    list-style-type: none;
  }

  .header-2 .icons a{
    font-size:25px;
    color: var(--black);
    padding-left:  1rem;
  }
  .icons{
    margin-left: 600px;
  }
  #product-name{
    background-color:  rgba(255, 94, 0,0.1);
    border: none;
    font-size: 20px ;
    color: rgb(220, 255, 183);
  }
  #product-name:hover{
    background: var(--green);
    color:rgb(255, 94, 0);
    text-decoration: none;
  }
   