*{
    margin: 0%;
    border-radius: 0;
}
.home{
    display: flex;
    justify-content: center;
 
}
.home-background-image{
    background-image: url("../images/banner-2.jpg");
    background-size: cover;
    opacity: 0.7;
<<<<<<< HEAD
    height: 450px;
=======
    height: 420px;
>>>>>>> wania
    width: 100%;
    box-shadow: 10px  10px  10px rgb(82, 42, 5);
    /* background-color: aquamarine; */
}
<<<<<<< HEAD
.button{
=======
.button-herosection{
>>>>>>> wania
    height: 60px;
    width: 200px;
    background: rgba(255, 94, 0,0.7);
    color: black;
    border-radius: 10px;
    font-size: 22px;
    position: absolute;
<<<<<<< HEAD
    top: 460px;
    left:600px ;
    box-shadow: 10px  10px  10px rgb(82, 42, 5);
}
.button:hover{
    border-style: dashed;
    border: 2px dashed rgb(255, 255, 255);
}
.button:active{
=======
    top: 400px;
    left:600px ;
    box-shadow: 10px  10px  10px rgb(82, 42, 5);
}
.button-herosection:hover{
    border-style: dashed;
    border: 2px dashed rgb(255, 255, 255);
}
.button-herosection:active{
>>>>>>> wania
    background:rgb(220, 255, 183);
  color: #0d0d0d;
  font-size: 25px;
  box-shadow: 10px  10px  10px rgb(49, 61, 35);
}
.content h3{
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 160px;
    left:120px ;
    color:rgb(255, 94, 0);
    /* text-shadow: 10px  10px  10px rgb(26,26, 51); */
    font-family: serif ;
<<<<<<< HEAD
    text-shadow: 10px  10px  5px rgb(202, 168, 135);
=======
>>>>>>> wania
}
.content h3 span{
    font-size: 80px;
    font-family: serif ;
    font-weight: bold;
    color:green;
   text-shadow: 10px  10px  5px rgb(202, 168, 135);

}
.home .content p{
    font-size: 35px;
    font-weight: bold;
    position: absolute;
<<<<<<< HEAD
    top: 350px;
    left: 120px;
    color: rgb(133, 214, 47);
=======
    top: 300px;
    left: 120px;
    color:green;
>>>>>>> wania
    text-shadow: 10px  10px  5px rgb(202, 168, 135);

}
/* deal section */
.deal-pic-1{
    background-image: url("../images/deal-pic-1.jpg");
    height: 300px;
<<<<<<< HEAD
    width: 550px;
=======
    width: 580px;
>>>>>>> wania
    background-size: cover;
    transition: all 1s;
    overflow: hidden;
}
.deal-pic-1:hover{
    transform: scale(1.1);
}
.deal-pic-2{
    background-image: url("../images/deal-pic-2.jpg");
    height: 300px;
<<<<<<< HEAD
    width: 550px;
=======
    width: 580px;
>>>>>>> wania
    background-size: cover;
    transition: all 1s;
    overflow: hidden;
    margin-left: 2%;
}
.deal-pic-2:hover{
    transform: scale(1.1);
}
.bannner-container{
    margin-top: 50px;
<<<<<<< HEAD
    margin-left: 105px;
=======
    margin-left: 150px;
>>>>>>> wania
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.bannner-container .banner{
    /* flex: 1 1 40px; */
    height: 350px;
    overflow: hidden;
    position: relative;
}
.bannner-container .banner .deal-content{
    position: absolute;
    top: 50px;
    left: 25px;
}
.bannner-container .banner .deal-content h3{
    font-size: 35px;
    font-weight: bold;
    color: rgb(95, 180, 5);
}
.bannner-container .banner .deal-content p{
    font-size:20px ;
}
.bannner-container .banner .deal-content .deal-button{
   width: 120px;
   height: 40px;
    background: rgba(255, 94, 0,0.7);
    color: black;
    border-radius: 8px;
    font-size: 17px;
    box-shadow: 10px  10px  10px rgb(82, 42, 5);
    
}
.bannner-container .banner .deal-content .deal-button:hover{
    border-style: dashed;
    border: 2px dashed rgb(255, 255, 255);
}
.bannner-container .banner .deal-content .deal-button:active{
    background:rgb(220, 255, 183);
    color: #0d0d0d;
    font-size: 19px;
    box-shadow: 10px  10px  10px rgb(49, 61, 35);
}
/* categories */
.heading{
    text-align: center;
    padding:20px 0px;
    font-size: 40px;
    font-weight: bold;
    color:rgb(255, 94, 0);
}
.heading span{
    background-color: rgba(255, 94, 0,0.7);
    color: rgb(220, 255, 183);
    padding: 20px;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%,0% 100%, 7% 50%,0% 0%);
} 
.fruits-image{
    background-image: url("../images/fruits.jpg");
    height: 300px;
    width: 350px;
    background-size: cover;
    /* position: absolute;
    left: 100px; */
    transition: all 1s;
    overflow: hidden;
}
.fruits-image:hover{
    transform: scale(1.1);
}
.vegetables-image{
    background-image: url("../images/vegetables.jpg");
    height:300px ;
    width: 350px;
    background-size: cover;
    transition: all 1s;
    overflow: hidden;
}
.vegetables-image:hover{
    transform: scale(1.1);

}
.beverages-image{
  background-image: url("../images/beverages.jpg");
  height:250px ;
  width: 350px;
  background-size: cover;
  transition: all 1s;
  overflow: hidden;
  margin-bottom: 50px;
}
.beverages-image:hover{
    transform: scale(1.1);
}
.box-container .box{
    margin-left:50px;
    border: 1px solid black;
    text-align: center;
    height: 500px;
}
.CATEGORIES .box-container{
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
    margin: 5%;
=======
    margin-left: 100px;
    margin-left: 100px;
>>>>>>> wania
}
.CATEGORIES .box-container h3{
    font-size: 35px;
    font-weight: bold;
    color: rgb(95, 180, 5);
}
.CATEGORIES .box-container p{
    font-size:20px ;
}
.CATEGORIES .box-container .deal-button{
    width: 120px;
    height: 40px;
     background: rgba(255, 94, 0,0.7);
     color: black;
     border-radius: 8px;
     font-size: 17px;
     box-shadow: 10px  10px  10px rgb(82, 42, 5);
     margin-top: 10px;
}
.CATEGORIES .box-container .deal-button :hover{
    border-style: dashed;
    border: 2px dashed rgb(255, 255, 255);
}
.CATEGORIES .box-container .deal-button :active{
    background:rgb(220, 255, 183);
    color: #0d0d0d;
    font-size: 19px;
    box-shadow: 10px  10px  10px rgb(49, 61, 35);
}
/* products section */
.products .shop-bar{
    margin-left: 9%;
}
.shop-bar{
    display: flex;
    padding: 20px 50px;
    padding-top: 0;
    /* margin-left: 5%; */
   
}
.shop-box{
    height: 300px;
    width: 200px;
    /* background-color: aquamarine; */
    border: 2px solid grey;
   margin-left: 5px;
}
.shop-box:hover{
    box-shadow: 0 .5rem 1rem rgb(140, 140, 201);
}
.box-1-product-1{
    height: 200px;
    width: 190px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/orange-two.png");
    background-size: cover;
}

.box-1-product-1:hover{
    background-image: url("../images/orange.jpg");
    height: 180px;
}
.for-icon{
    font-size: 25px;
    color:rgb(51, 40, 40);
    padding-left: 150px;
    padding-top: 20px;
    
}
.for-icon:hover{
    color: rgb(255, 94, 0);
}
.box-1-product-1-content{
    height: 100px; 
    width: 200px;
    /* background-color: blue; */
    padding-left: 5px;
}
.box-1-product-1-content a{
    font-size: large;
    color: black;
    text-decoration: none;
}
.box-1-product-1-content i{
    font-size: large;
    padding-top: 5px;
}
.price{
    font-size: 30px;
    color: rgb(179, 20, 20);
    font-weight: 700;
}
.price-cutted{
    font-size: 20px;
    text-decoration: line-through;
}
/* boxes-img-css */
.box-2-product-2{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/onion.jpg");
    background-size: cover;
}
.box-2-product-2:hover{
    background-image: url("../images/onion-2.jpg");
}

.box-3-product-3{
    height: 200px;
    width: 160px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/milk.jpg");
    background-size: cover;
}
.box-3-product-3:hover{
    background-image: url("../images/milk-2.jpg");
    width: 185px;
}
.box-4-product-4{
    height: 180px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/gabbage.png");
    background-size: cover;
}
.box-4-product-4:hover{
    background-image: url("../images/gabbage-2.jpg");
    height: 200px;
}

.box-5-product-5{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/apple\ juice.jpg");
    background-size: cover;
}
.box-5-product-5:hover{
    background-image: url("../images/applejuice-2.jpg");
}
/* .box-6-product-6{
    height: 180px;
    width: 185px;
    /* background-color: pink; */
    /* margin:5px ;
    margin-top: 0%;
    background-image: url("../images/kiwi.jpg");
    background-size: cover;
} */
.box-6-product-6:hover{
    background-image: url("../images/kiwi-2.jpg");
   
} */


.products .shop-bar-2{
   
}
.shop-bar-2{
    display: flex;
    padding: 20px 50px;
    padding-top: 0;
    margin-left: 9%;
}
.shop-box{
    height: 300px;
    width: 200px;
    /* background-color: aquamarine; */
    border: 2px solid grey;
   margin-left: 1%;
}
.shop-box:hover{
    box-shadow: 0 .5rem 1rem rgb(140, 140, 201);
}
.box-1-bar-2-product-1{
    height: 200px;
    width: 190px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/banana.png");
    background-size: cover;
}

.box-1-bar-2-product-1:hover{
    background-image: url("../images/banana-2.png");
    height: 180px;
}
.for-icon{
    font-size: 25px;
    color:rgb(51, 40, 40);
    padding-left: 150px;
    padding-top: 20px;
    
}
.for-icon:hover{
    color: rgb(255, 94, 0);
}
.box-1-bar-2-product-1-content{
    height: 100px; 
    width: 200px;
    /* background-color: blue; */
    padding-left: 5px;
}
.box-1-bar-2-product-1-content a{
    font-size: large;
    color: black;
    text-decoration: none;
}
.box-1-bar-2-product-1-content i{
    font-size: large;
    padding-top: 5px;
}
.price{
    font-size: 30px;
    color: rgb(179, 20, 20);
    font-weight: 700;
}
.price-cutted{
    font-size: 20px;
    text-decoration: line-through;
}
/* boxes-img-css */
.box-2-bar-2-product-2{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/Tomato.png");
    background-size: cover;
}
.box-2-bar-2-product-2:hover{
    background-image: url("../images/tomato-2.png");
}

.box-3-bar-2-product-3{
    height: 200px;
    width: 145px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/drink-2.jpg");
    background-size: cover;
}
.box-3-bar-2-product-3:hover{
    background-image: url("../images/drink.webp");
    width: 135px;
}
.box-4-bar-2-product-4{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/grapes.webp");
    background-size: cover;
}
.box-4-bar-2-product-4:hover{
    background-image: url("../images/grapes-2.webp");
    height: 160px;
}

.box-5-bar-2-product-5{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/carrot-2.png");
    background-size: cover;
}
.box-5-bar-2-product-5:hover{
    background-image: url("../images/carrot.png");
    height: 150px;
}
/* .box-6-bar-2-product-6{
    height: 205px;
    width: 180px;
    /* background-color: pink; */
    /* margin:5px ;
    margin-top: 0%;
    background-image: url("../images/orangejuice.png");
    background-size: cover;
}
.box-6-bar-2-product-6:hover{
    background-image: url("../images/orangejuice-2.jpg");
    height: 205px;
    width: 100px;
} */ */
/* contact */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .contact{
    position: relative;
    min-height: 100px;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .contact  .content{
      max-width: 800px;
      text-align: center;
    }
    /* .contact .content h2{
      font-size: 60px;
      font-weight: 500;
      color: #126012;
    } */
    .contact .content p{
      font-size: 39px;
      font-weight: 300;
      color: #117f11;
    }
    .container{
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      font-size: 25px;
    }
    .container .contactinfo{
      width: 300%;
      display: flex;
      flex-direction: column;
    }
    .container .contactinfo .box{
      position: relative;
      padding: 20px 0;
      display: flex;
    }
    .container .contactinfo .box  .text{
      display: flex;
      margin-left: 20px;
      font-size: 20px;
      flex-direction: column;
      color: #b7eeb7;
      font-weight: 300;
    }
    .container .contactinfo .box  .text h3{
      font-weight: 500;
      color: #065121;
    }
    .contact form{
      width: 400px;
      padding: 40px;
      background: #e7e4e4;
    }
    .contact form h2{
      font-size: 30px;
      color: #117f11;
      font-weight: 500;
    }
    .contact form .inputbox{
       position: relative;
       width: 100%;
       margin-top: 10px;
       color: #117f11;
       /* border-radius: 10px; */
       
    }
    .send-button{
        position: relative;
        width: 30%;
        margin-top: 10px;
        color: #117f11;
        border-radius: 10px;
        font-size: small;
        padding: 2%;
        margin-left: 30%;
        border: none;
        background: rgba(255, 94, 0,0.7);
    }
    .send-button:hover{
        font-size: large;
        border: 2px solid #117f11 ;
    }
    .contact form .inputbox input, .contact form .inputbox textarea{
      width: 300px;
<<<<<<< HEAD
      padding: 5px 0;
=======
      padding: 5px;
>>>>>>> wania
      font-size:16px;
      /* margin: 10px;  */
      border: none;
      border-bottom: 2px solid #9f9d9d;
      outline: none;
      resize: none;
    }
    .contact form .inputbox span{
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      pointer-events: none;
      transition: 0.5%;
      color: #117f11;
    }
    .contact form .inputbox input:focus~span,
    .contact form .inputbox input:valid~span,
    .contact form .inputbox textarea:focus~span,
    .contact form .inputbox textarea:valid~span{
      color: #97dd97;
      font-size: 15px;
      transform: translate(-20px);
    }
    .contact form .inputbox input [type="submit"]{
      width: 100px;
      background: #065121;
      color: #117f11;
      border: none;
      cursor: pointer;
      padding: 10px;
      font-size: 18px;
<<<<<<< HEAD
=======
    }
    .contactinfo .box p a{
        display: flex;
>>>>>>> wania
    }