*{
    margin: 0%;
    border-radius: 0%;
}
.background-image-vegetables{
    background-image: url("../images/beverage-header-bg.jpg");
    background-size: cover;
    height: 250px;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgb(140, 140, 201);

}
.first-image-text{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Gill Sans';
    margin-left: 100px;
    padding-top: 80px;
    padding-bottom: 20px;
    color: green;
    text-shadow: 10px  10px  5px rgb(202, 168, 135);
}
.first-image-text span{
    color:rgb(255, 94, 0);
    text-shadow: 10px  10px  5px rgb(202, 168, 135);
}

.shop-bar{
    display: flex;
    padding: 20px 50px;
    padding-top: 0;
    margin-left: 100px ;
   margin-top: 50px;
}

.shop-box{
    height: 300px;
    width: 200px;
    /* background-color: aquamarine; */
    border: 2px solid grey;
   margin-left: 5px;
}
.shop-box:hover{
    box-shadow: 0 .5rem 1rem rgb(140, 140, 201);
}
.box-1-product-1{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-1-product-1-beverage.jpeg");
    background-size: cover;
}

.box-1-product-1:hover{
    background-image: url("../images/box-1-product-1-hover-beverage.jpeg");
}
.for-icon{
    font-size: 25px;
    color:rgb(51, 40, 40);
    padding-left: 150px;
    padding-top: 20px;
    
}
.for-icon:hover{
    color: rgb(255, 94, 0);
}
.box-1-product-1-content{
    height: 100px; 
    width: 200px;
    /* background-color: blue; */
    padding-left: 5px;
}
.box-1-product-1-content a{
    font-size: large;
    color: black;
    text-decoration: none;
}
.box-1-product-1-content i{
    font-size: large;
    padding-top: 5px;
}
.price{
    font-size: 30px;
    color: rgb(179, 20, 20);
    font-weight: 700;
}
.price-cutted{
    font-size: 20px;
    text-decoration: line-through;
}
/* boxes-img-css */
.box-2-product-2{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-2-product-2-beverage.jpg");
    background-size: cover;
}
.box-2-product-2:hover{
    background-image: url("../images/box-2-product-2-hover-beverage.jpg");
    width: 165px;
}

.box-3-product-3{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-3-product-3-beverage.jpeg");
    background-size: cover;
}
.box-3-product-3:hover{
    background-image: url("../images/box-3-product-3-hover-beverage.webp");
}

.box-4-product-4{
    height: 180px;
    width: 150px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-4-product-4-beverage.jpg");
    background-size: cover;
}


.box-5-product-5{
    height: 180px;
    width: 155px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-5-product-5-beverage.jpeg");
    background-size: cover;
}

.box-6-product-6{
    height: 180px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-6-product-6-beverage.jpeg");
    background-size: cover;
}
.box-6-product-6:hover{
    background-image: url("../images/box-6-product-6-hover-beverage.jpg");
   
}


.box-7-product-7{
    height: 180px;
    width: 180px;
    /* background-color: pink; */
    margin:7px ;
    margin-top: 0%;
    background-image: url("../images/box-7-product-7-hover-beverage.jpeg");
    background-size: cover;
}
.box-7-product-7:hover{
    background-image: url("../images/box-7-product-7-beverage.webp");
    width: 185px;
    margin:2px ;
    margin-bottom: 5px;
}

.box-8-product-8{
    height: 180px;
    width: 165px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-8-product-8-beverage.webp");
    background-size: cover;
}
.box-8-product-8:hover{
    background-image: url("../images/box-8-product-8-hover-beverage.webp");
}

.box-9-product-9{
    height: 200px;
    width: 185px;
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-9-product-9-beverage.jpg");
    background-size: cover;
}
/* .box-9-product-9:hover{
    background-image: url("../images/box-9-product-9-hover-beverage.jpg");
} */

.box-10-product-10{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    /* margin:10px ; */
    margin-top: 0%;
  
    background-image: url("../images/box-10-product-10-beverages.jpeg");
    background-size: cover;
}


.box-11-product-11{
    height: 180px;
    width: 165px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-11-product-11-hover-beverage.jpeg");
    background-size: cover;
}

.box-12-product-12{
    height: 180px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-12-product-12-beverage.webp");
    background-size: cover;
    margin-bottom: 20px;
}
  