*{
    margin: 0;
    border-radius: 0;
}

.background-image-vegetables{
    background-image: url("../images/vegetables-header-bg.jpg");
    background-size: cover;
    height: 250px;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgb(140, 140, 201);

}
.first-image-text{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Gill Sans';
    margin-left: 100px;
    padding-top: 80px;
    padding-bottom: 20px;
    color: green;
    text-shadow: 1px 1px 2px red;
    text-shadow: 10px  10px  5px rgb(202, 168, 135);
}
.first-image-text span{
    color:rgb(255, 94, 0);
    text-shadow: 10px  10px  5px rgb(202, 168, 135);
}

.shop-bar{
    display: flex;
    padding: 20px 50px;
    padding-top: 0;
   
}
.sale-heading p{
  font-family: sans-serif;
  font-weight: 700;
  margin-left: 60px;
  padding-top: 20px;
  font-size: 30px;
}
.shop-box{
    height: 300px;
    width: 200px;
    /* background-color: aquamarine; */
    border: 2px solid grey;
   margin-left: 5px;
}
.shop-box:hover{
    box-shadow: 0 .5rem 1rem rgb(140, 140, 201);
}
.box-1-product-1{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-1-product-1.jpg");
    background-size: cover;
}

.box-1-product-1:hover{
    background-image: url("../images/box-1-product-1-hover.jpg");
}
.for-icon{
    font-size: 25px;
    color:rgb(51, 40, 40);
    padding-left: 150px;
    padding-top: 20px;
    
}
.for-icon:hover{
    color: rgb(255, 94, 0);
}
.box-1-product-1-content{
    height: 100px; 
    width: 200px;
    /* background-color: blue; */
    padding-left: 5px;
}
.box-1-product-1-content a{
    font-size: large;
    color: black;
    text-decoration: none;
}
.box-1-product-1-content i{
    font-size: large;
    padding-top: 5px;
}
.price{
    font-size: 30px;
    color: rgb(179, 20, 20);
    font-weight: 700;
}
.price-cutted{
    font-size: 20px;
    text-decoration: line-through;
}
/* boxes-img-css */
.box-2-product-2{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-2-product-2.jpg");
    background-size: cover;
}
.box-2-product-2:hover{
    background-image: url("../images/box-2-product-2-hover.jpg");
}

.box-3-product-3{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-3-product-3.jpg");
    background-size: cover;
}
.box-3-product-3:hover{
    background-image: url("../images/box-3-product-3-hover.jpg");
}

.box-4-product-4{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-4-product-4.jpg");
    background-size: cover;
}


.box-5-product-5{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-5-product-5.jpg");
    background-size: cover;
}

.box-6-product-6{
    height: 180px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-6-product-6.jpg");
    background-size: cover;
}
.box-6-product-6:hover{
    background-image: url("../images/box-6-product-6-hover.jpg");
   
}


.box-7-product-7{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-7-product-7.jpg");
    background-size: cover;
}
.box-7-product-7:hover{
    background-image: url("../images/box-7-product-7-hover.jpg");
}

.box-8-product-8{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-8-product-8.jpg");
    background-size: cover;
}
.box-8-product-8:hover{
    background-image: url("../images/box-8-product-8-hover.jpg");
}

.box-9-product-9{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-9-product-9.jpg");
    background-size: cover;
}
.box-9-product-9:hover{
    background-image: url("../images/box-9-product-9-hover.jpg");
}

.box-10-product-10{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-10-product-10.jpg");
    background-size: cover;
}


.box-11-product-11{
    height: 200px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-11-product-11-hover.jpg");
    background-size: cover;
}

.box-12-product-12{
    height: 140px;
    width: 185px;
    /* background-color: pink; */
    margin:5px ;
    margin-top: 0%;
    background-image: url("../images/box-12-product-12.jpg");
    background-size: cover;
    margin-bottom: 20px;
}
.box-12-product-12:hover{
    background-image: url("../images/box-12-product-12-hover.jpg");
   height: 180px;
   margin-bottom: 0;
}

